Lenguaje de marcas y sistemas/Tarea 5/ARTISTAS.dtd

<!ELEMENT tienda (disco+)>
<!ELEMENT disco (nombre_del_disco, (artista|grupo), a침o, discogr치fica)>
<!ELEMENT nombre_del_disco (#PCDATA)>
<!ELEMENT artista (#PCDATA)>
<!ELEMENT grupo (#PCDATA)>
<!ELEMENT a침o (#PCDATA)>
<!ELEMENT discogr치fica (#PCDATA)>
<!ATTLIST disco formato (LP|CD|K7|MP3) #REQUIRED>